[submodule "Assets/Scripts/Network/UServer"]
	path = Assets/Scripts/Network/UServer
	url = https://github.com/beepe0/modules.git
	branch = unetserver
[submodule "Assets/Scripts/Network/UNTools"]
	path = Assets/Scripts/Network/UNTools
	url = https://github.com/beepe0/modules.git
	branch = unettools
