[submodule "Assets/Scripts/Network/UnityServer"]
	path = Assets/Scripts/Network/UnityServer
	url = https://github.com/beepe0/modules-for-my-projects.git
	branch = unetserver
[submodule "Assets/Scripts/Network/UnityTools"]
	path = Assets/Scripts/Network/UnityTools
	url = https://github.com/beepe0/modules-for-my-projects.git
	branch = unettools
[submodule "Assets/Scripts/Singleton"]
	path = Assets/Scripts/Singleton
	url = https://github.com/beepe0/modules-for-my-projects.git
	branch = singleton
