[submodule "Assets/Scripts/Network/UnityServer"]
	path = Assets/Scripts/Network/UnityServer
	url = https://github.com/beepe0/modules.git
	branch = network/unetserver
[submodule "Assets/Scripts/Network/UnityTools"]
	path = Assets/Scripts/Network/UnityTools
	url = https://github.com/beepe0/modules.git
	branch = network/unettools
[submodule "Assets/Scripts/Singleton"]
	path = Assets/Scripts/Singleton
	url = https://github.com/beepe0/modules.git
	branch = singleton
[submodule "Assets/Scripts/CustomEditor/Attributes"]
	path = Assets/Scripts/CustomEditor/Attributes
	url = https://github.com/beepe0/modules-for-my-projects.git
	branch = custom-editor/attributes
